<%= form.error_messages %>

<p>
  <%= form.label :title, '제목' %><br />
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :name, '게시판ID' %><br />
  <%= form.text_field :name %>
	<%= form.label :open_level, '공개도' %>
	<%= form.select :open_level, OpenLevel.options.reverse %>
</p>
 <%= form.label :description, '게시판 설명' %><br />
 <%= form.text_area :description %>
<p>
  <%= form.check_box :attachable %>
  <%= form.label :attachable, '파일첨부 가능' %>
</p>
